body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Form */
/* #box {
        background-color:'white';
        /* border-radius: 0px; */
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
/* margin: 20px auto; */
/* max-width: 500px; */
/* padding: 30px; */
/* border: none; Remove the border */
/* } */

h2 {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

input[type="email"],
input[type="password"],
select {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  outline: none;
}

label {
  color: #333;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

button[type="submit"],
a.button-solid {
  background-color: #6c63ff; /* Set the button and anchor link color */
  border: none;
  border-radius: 20px; /* Make the buttons rounded */
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 100%;
  font-family: "Inria Sans", sans-serif; /* Change the font to Inria Sans */
}

button[type="submit"]:hover,
a.button-solid:hover {
  background-color: #fff;
  color: #6c63ff;
}

/* Prediction */
.prediction {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
}

.prediction h3 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.prediction p {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

.button-solid:focus {
  border: none;
  outline: none;
}
#email {
  height: 25.83px;
  width: 200px;
  /* Remove the default input border */
  border-radius: 10px; /* Adjust the value as needed for the desired roundness */
  padding: 10px; /* Add some padding for spacing */
  width: 100%;
}
