<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
    body {
        font-family: "Inria Sans", sans-serif;
    }
    a {
            text-decoration: none;
            color: rgb(23, 140, 179);
        }
        #forgotPassword, #SignIn{
        color: rgb(23, 140, 179);
      }
</style>
</head>

<body>
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 10px; margin-right: 5px;">
        <a href='/dashboard' id='forgotPassword' style="margin-right: 10px;">back</a>
        <img src="/static/left-arrow.png" height="24" width="24"/>
    </div>
    <center>
    <p>Varishta Rakshak &#129309</p>
    <img src="/static/customer.png" alt="User Profile" style="height: 170px; width: 250px; border-radius: 100%;"> <br>
    <a href="/logout">Logout</a>
    <p>Name: {{user_name}}</p>
    <p>Mobile Number: {{phone_number}}</p>
    </center>            
</body>
</html>
